* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #F0EFEB;
    ;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    background: #F0EFEB;
    ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #68b0ab;
    margin-right: 10px;
}

.navbar a:hover {
    border-radius: 15px;
    color: #545678;
}

.main {
    margin-top: 30px;
}

#welcome-section {
    height: 100vh;
    background: #dbe7e4;
    color: #99c1de;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#welcome-section h1 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 100px;
    color: #68b0ab;
    position: absolute;
    bottom: 50px;
    left: 70px;
}

#welcome-section span {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 50px;
    color: #fff1e6;
    position: absolute;
    bottom: 50px;
    left: 420px;
}

.about-me {
    height: 100vh;
    width: 100%;
    background: #fde2e4;
}

.about-me p {
    position: absolute;
    bottom: -750px;
    right: 20px;
    font-size: 30px;
    font-family: 'Dawning of a New Day', cursive;
    color: #957186;
}

.project-tiles {
    height: 300vh;
    width: 100%;
    background: #eddcd2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-tiles h2 {
    position: absolute;
    bottom: -2750px;
    right: 50px;
    color: #402a2c;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: heavy;
    font-size: 80px;
}

.project-tiles h3 {
    position: absolute;
    bottom: -2050px;
    left: 50px;
    color: #402a2c;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: heavy;
    font-size: 80px;
}

.project-tile img {
    max-width: 400px;
    border: 12px solid #fff;
    margin: 20px;
    border-radius: 10px;
}

.img-caps a {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 30px;
    color: #402a2c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.contact-me {
    height: 100vh;
    width: 100%;
    background: #dbe7e4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-me h3 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 50px;
    color: #68b0ab;
    padding: 0px 20px 100px 20px;
}

.contact-me img {
    max-width: 100px;
    padding-left: 50px;
}

.contact-me span,
a {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #a5668b;
}

@media (max-width: 550px) {
    .navbar a {
        font-size: 15px;
        margin-right: 5px;
        text-align: center;
    }
    .main {
        margin-top: 1px;
    }
    #welcome-section h1 {
        font-size: 70px;
        bottom: 80px;
        left: 70px;
    }
    #welcome-section span {
        font-size: 30px;
        bottom: 50px;
        left: 120px;
    }
    .about-me p {
        position: absolute;
        bottom: -750px;
        text-align: right;
        margin-left: 70px;
        font-size: 30px;
        font-family: 'Dawning of a New Day', cursive;
        color: #957186;
    }
    .project-tiles h3 {
        position: relative;
        bottom: 0px;
        right: 50px;
        color: #402a2c;
        writing-mode: horizontal-tb;
        font-size: 50px;
    }
    .project-tiles h2 {
        position: relative;
        bottom: 20px;
        right: -150px;
        font-size: 50px;
        writing-mode: horizontal-tb;
    }
    .contact-me h3 {
        font-family: 'Dawning of a New Day', cursive;
        font-size: 30px;
        color: #68b0ab;
        padding: 0px 20px 100px 20px;
    }
    .contact-me img {
        max-width: 70px;
        padding-left: 50px;
    }
    .contact-me span,
    a {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-weight: bold;
        color: #a5668b;
    }
}